<html>
<head>
    {% if title %}
        <title>{{ title }} - demo</title>
    {% else %}
        <title>demo</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/panel.css') }}">

</head>
<body style="margin-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Query patient info
      </a>
    </div>

  </div>
</nav>

<div class="panel panel-default panel-query">
    <div class="panel-heading">
        <h1></h1>
    </div>
    <div class="panel-body">
        <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <p>

                {{ form.identifier(class="form-control",placeholder="Please enter patient's ID") }}
                {% for error in form.identifier.errors %}
                    <div class="alert alert-danger" role="alert">
                        <a href="#" class="alert-link">{{ error }}</a>
                    </div>

                {% endfor %}<br>
            </p>
            <p>
                {{ form.disease(class="form-control",placeholder="Relative disease") }}
            </p>
            <p> Select the item you want to know </p>
            <div class="list-group">
                {% for item in form %}
                    {% if item.type == "BooleanField" %}
                        <a href="#" class="list-group-item" name={{ item.name }} onclick="change_status(this)">
                            {{ item.label }}{{ item(style="float:right") }} </a>

                    {% endif %}
                {% endfor %}
            </div>
            <p><input class='btn btn-primary btn-block' type="submit" value="Submit"></p>

        </form>
    </div>
</div>

<script>
    var change_status = function (obj) {

        var name = obj.name
        var box = document.getElementById(name)
        box.checked = !box.checked
    }

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js/bootstrap.min.js') }}"></script>

</body>
</html>