<!DOCTYPE html>
<html lang="en">
<head>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" style="margin-top: 10px;width:90%;margin-left: auto;margin-right: auto">
  <div class="container-fluid">
    <div class="navbar-header">
     <p class="navbar-text"> Welcome {{ form.user_id.data }}</p>
    </div>

  </div>
</nav>

<div class="container">

      <p style="padding: 15px">
          <button type="button" class="btn btn-default" onclick="window.open('http://localhost:5000/Privacy/'+'{{ form.user_id.data }}'+'?_format=json')" >My Profile</button>
</p>

<form class="navbar-form navbar-left" >
  <div class="form-group">
    <input type="text" class="form-control" placeholder="User ID" id="id_input">
  </div>
  <button type="button" class="btn btn-default" onclick="query_by_id()" style="background: transparent;">Query by ID</button>
</form>
</div>


<script>
    var query_by_id=function()
    {
        var target_id = document.getElementById("id_input")
        window.open('http://localhost:5000/Privacy/'+target_id.value+'?_format=json')
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js/bootstrap.min.js') }}"></script>

</body>
</html>